{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "semi": ["error", "never"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "eol-last": "error",
        "func-call-spacing": "error",
        "key-spacing": "error",
        "keyword-spacing": "error",
        "linebreak-style": "error",
        "lines-between-class-members": "error",
        "new-parens": "error",
        "no-multiple-empty-lines": ["error", { "max": 5, "maxEOF": 1 }],
        "no-multi-assign": "error",
        "no-new-object": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": "error",
        "spaced-comment": ["error", "always", { "exceptions": ["-+*"], "markers": ["/!"] }],
        "prefer-const": "error",
        "object-shorthand": "error",
        "quote-props": ["error", "as-needed"],
        "no-array-constructor": "error",
        "array-callback-return": "error",
        "prefer-template": "error",
        "template-curly-spacing": ["error", "never"],
        "wrap-iife": ["error", "inside"],
        "no-new-func": "error",
        "space-before-blocks": "error",
        "prefer-arrow-callback": "error",
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "no-confusing-arrow": ["error", {"allowParens": true}],
        "no-useless-constructor": "error",
        "no-duplicate-imports": "error",
        "no-iterator": "error",
        "generator-star-spacing": ["error", {"before": false, "after": true}],
        "dot-notation": "error",
        "one-var": ["error", "never"],
        "eqeqeq": ["error", "smart"],
        "space-infix-ops": "error",
        "no-else-return": "error",
        "padded-blocks": ["error", "never"],
        "object-curly-spacing": ["error", "always"],
        "no-new-wrappers": "error",
        "new-cap": "error",
        "camelcase": "error",
        "no-console": "off"
    }
}
